* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

button {
    font-size: 20px;
    padding: 10px 50px;
}

.options {
    border: 1px solid black;
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin: 40vh auto;
    padding: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.box h2 {
    margin: 10px;
}

.card {
    border: 1px solid black;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.card button {
    font-size: 15px;

}

.card input {
    font-size: 20px;
    padding: 10px;
}