* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    text-align: center;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fffef7;
}

h1 {
    margin-top: 10px;
}

h2 {
    font-weight: 400;
}

.add-items {
    margin: 10px auto;
}

.add-items input{
   padding: 5px 10px;
}

.add-items button{
   padding: 5px 20px;
   border-radius: 5px;
   background-color: antiquewhite;

}

.container {
    margin: 20px 10px;
}

.card {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-top: 10px;
}

.card p {
    margin: 10px 20px;
}

.card button {
    margin: 10px 10px;
    padding: 8px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(255, 159, 159);
}
