* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
}

.container {
    border: 1px solid black;
    width: 80vw;
    margin: 50px auto;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}

.container button {
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid black;
    background-color: bisque;
    cursor: pointer;
}

.container p {
    font-size: 20px;
}