* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    height: 200px;
    width: 300px;
    background-color: brown;
    border-radius: 35px;
    margin: 10px;
    display: inline-block;
    transition: 1s;
    box-shadow: 1px 1px 5px black;
    background-image: url(bg.jpg);
    background-size: cover;
}

div:hover {
    background-color: rgb(100, 27, 27);
    transform: scale(1.03);
    box-shadow: 2px 2px 10px black;
}