* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 20px;
}

h1 {
    font-size: 50px;
}

.moves button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.moves button:hover {
    background-color: antiquewhite;
}

.game {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 20px;
}

.game div {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result h3 {
    font-size: 30px;
    /* padding : 20px; */
}

.score {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    margin: 20px auto;
    column-gap: 20px;
}

.score div {
    font-size: 30px;
}