* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    color: white;
}

body {
    background-color: black;
    margin: auto;
}

:root {
    --content-height: 225px;
    --content-width: 150px;
    --card-height: 200px;
    --card-width: 290px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    margin: 25px auto;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 4;
}

.navbar img {
    height: 30px;
}

.navbar button {
    background-color: red;
    color: white;
    border: 0px;
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: bold;
}

.landing {
    background-image: url(assets/images/bg.jpg);
    height: 100vh;
    background-size: cover;
}

.box {
    background-color: black;
    opacity: 0.8;
    height: 100vh;
    position: relative;
    top: 0;
}

.container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    color: white;
    align-content: center;
    text-align: center;
}

.container #title {
    font-weight: 800;
    margin: auto;
    font-size: 51px;
    width: 50vw;
    z-index: 5;
    line-height: 1.2;
    position: relative;
}

@media screen and (max-width: 1065px) {

    .container #title {
        font-size: 35px;
    }

    .reasons .card {
        flex-direction: column;
        --card-width: 80vw;
    }

    .ending {
        scale: 0.8;
    }
}

@media screen and (max-wdith: 587px) {
    .landing {
        background-size: auto;
    }

    .footer {
        scale: 0.8;
    }
}

@media screen and (max-wdith: 391px) {
    .landing {
        background-size: auto;
    }

    .container #title {
        font-size: 20px;
    }

    .footer {
        scale: 0.8;
    }
}

.container #subtitle {
    margin: auto;
    width: 50vw;
    z-index: 5;
    margin: 15px auto;
    font-size: 18px;
    font-weight: bold;
}

.container #search input {
    margin: 20px 0px;
    padding: 15px 30px;
    font-size: large;
    border-radius: 10px;
    background-color: black;
    border: 1px solid rgb(197, 192, 192);
    color: rgb(255, 255, 255);
}

.container #search button {
    margin: 20px 0px;
    padding: 15px 30px;
    font-size: large;
    border-radius: 10px;
    background-color: red;
    border: 0px;
    color: white;
    font-weight: bold;
}

.trending {
    width: 80vw;
    margin: 20px auto;
}

.trending .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
    scale: 1;
}

.trending .content div:hover {
    box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.214);
    cursor: pointer;
    border-radius: 20px;
    scale: 1.05;
}

#content1 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content1.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#content2 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content2.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#content3 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content3.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#content4 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content4.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#content5 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content5.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

#content6 {
    height: var(--content-height);
    width: var(--content-width);
    background-image: url(assets/images/content6.jpg);
    background-size: cover;
    margin-top: 10px;
    border-radius: 5px;
}

.reasons {
    width: 80vw;
    margin: 20px auto;
}

.reasons .card {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 10px;
}

#card1 {
    min-height: var(--card-height);
    width: var(--card-width);
    background-color: #192145;
    border-radius: 10px;
    margin: 10px 0px;
    padding-bottom: 20px;
}

#card2 {
    min-height: var(--card-height);
    width: var(--card-width);
    background-color: #192145;
    border-radius: 10px;
    margin: 10px 0px;
    padding-bottom: 20px;
}

#card3 {
    min-height: var(--card-height);
    width: var(--card-width);
    background-color: #192145;
    border-radius: 10px;
    margin: 10px 0px;
    padding-bottom: 20px;
}

#card4 {
    min-height: var(--card-height);
    width: var(--card-width);
    background-color: #192145;
    border-radius: 10px;
    margin: 10px 0px;
    padding-bottom: 20px;
}

.card h3 {
    padding: 30px 10px 10px 20px;
}

.card p {
    padding: 0px 10px 10px 20px;
    font-size: 15px;
}

.faq h1 {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.faq p {
    width: 80vw;
    background-color: #2D2D2D;
    padding: 20px;
    width: 78vw;
    margin: 10px auto;
    font-size: 20px;
}

.faq p:hover {
    background-color: #686868;
    cursor: pointer;
}

.ending #endnote {
    margin: 20px auto;
    text-align: center;
}

.ending #endbutton {
    display: flex;
    justify-content: center;
}

.ending #endbutton input {
    background: #191919;
    font-size: large;
    padding: 15px 190px 15px 20px;
    margin: 20px 0px;
    border-radius: 10px;
    border: 0px;
}

.ending #endbutton button {
    margin: 20px 0px;
    padding: 15px 30px;
    font-size: large;
    border-radius: 10px;
    background-color: red;
    color: rgb(255, 255, 255);
}

footer {
    width: 80vw;
    margin: 10px auto;
    color: grey;
}

.footer {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px auto;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer a {
    color: grey;
    font-size: 15px;
}

.footer a:hover {
    color: white;
}

.seperator {
    height: 10vh;
}