@import url('https://fonts.googleapis.com/css2?family=Alice&family=Asimovian&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#allcard {
    width: 70vw;
    margin: 10px auto;
    display: flex;
    flex-wrap:wrap;
    /* column-gap: 10px;
    row-gap: 10px; */
    justify-content: center;
    align-items: flex-start;
    /* background-color: blanchedalmond; */
}

#container {
  /* height: 350px; */
  width: 250px;
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.248);
  transition-duration: 500ms;
}

#container:hover {
    box-shadow: 0px 0px 10px grey;
}

#image {
  height: 150px;
  width: 240px;
  background-color: aqua;
  margin: 5px;
  border-radius: 15px;
  background-image: url('https://i.pinimg.com/736x/b4/6f/66/b46f661d786b86a944d1b6857c6fa0a2.jpg');
  background-size: cover;
  background-position: center;
}

#title {
    margin-left: 15px;
}

#title h3{
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  
}

#title h3:hover{
  cursor: pointer;
  
}

#tags{
    margin-left: 10px;
}

#tags button{
    margin: 10px 2px 5px 2px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    background-color: rgba(245, 245, 220, 0);
    font-size: 10px;
    font-weight: 400;
}

#tags button:hover{
    background-color: rgba(75, 219, 255, 0.45);
}

#description {
    margin-left: 15px;
    margin-right: 5px;
}

#description p{
    margin-top: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: rgb(122, 122, 122);
}

#knowmore {
    text-align: center;
}

#knowmore button {
    margin: 10px 2px 15px 2px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(54, 181, 255, 0.319);
    font-size: 10px;
    font-weight: 400;
}

#knowmore button:hover {
    background-color: rgba(128, 128, 128, 0.307);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 15px auto;
    font-family: poppins;
}

#subtitle {
    text-align: center;
    font-family: poppins;
    color: grey;
}

#label {
    width: 60vw;
    margin: 10px auto;
}

