* {
    font-family:'Times New Roman';
}

h1{
    color: #BA2B27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #BA2B27;
    color: white;
}

.upvote {
    background-color: green;
    color: white;
}

.post a{
    color: purple;
}

.upvote + button{
    background-color: lightblue;
}

button:hover{
    background-color: aqua;
    color: black;
}