* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Poppins";
}

button {
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: bisque;
}

.box {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

h1 {
    margin-top: 20px;
}